<!DOCTYPE html>
<html>
<head>
  <title>TravelBooking</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= requirejs_include_tag 'main' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Profile", "/steam/#{current_user[:id]}" %>

=======
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
=======
<%= yield %>

<%= debug params %>

</body>
</html>
